<app-menu-admin-contenu></app-menu-admin-contenu>
<div class="content">
  <app-recherche [champDeRecherches]="champDeRecherches" [queryBuild]="queryBuild" (emitQueryBuild)="setQueryBuild($event)"></app-recherche>
  <div class="bloc">
    <div class="table">
      <div class="action" *ngIf='!isModal'>
        <div class="left"></div>
            <div class="right">
              <i class="fas fa-file-excel"></i>
              <div routerLink="/contenu-admin/catogorie-menu/ajouter" class="nofocus">
                <i class="fas fa-plus"></i> Créer
              </div>
            </div>
      </div>
      <app-header-table [querybuild]="queryBuild" [headers]="headers" (emitQueryBuild)="setQueryBuild($event)"></app-header-table>
      <div class="content" *ngIf="!isModal">
        <div class="row" *ngFor='let cate of listeCates;let i = index' style="cursor: pointer;" (dblclick)="gotoDetails('/contenu-admin/catogorie-menu/modifier', cate)">
          <div class="grow2">{{cate.titre}}</div>
          <div class="grow4">{{cate.url}}</div>
          <div class="grow3">{{cate.menu?.titre}}</div>
          <div class="action">
              <span tooltip="Modifier" show-delay="100" hide-delay="100"><i class="fas fa-edit edit-link" (click)="gotoDetails('/contenu-admin/catogorie-menu/modifier', cate)"></i></span> 
              <span tooltip="Supprimer" show-delay="100" hide-delay="100" style="margin-left: 1em;"><i class="fas fa-trash delete-link" (click)="supprimer(cate)"></i></span> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>