<div class="bloc">
  <div class="table">
    <div class="action">
      <div class="left">

      </div>
      <div class="right">
        <div (click)="openModal()" class="nofocus">
          <i class="fas fa-plus"></i> Ajouter
        </div>
      </div>
    </div>
    <div class="header">
      <div class="row">
        <div>Nom</div>
        <div>Type</div>
        <div>Description</div>
        <div class="action">Actions</div>
      </div>
    </div>
    <div class="content">
      <div class="row" *ngFor="let batiment of batiments" (dblclick)="getBatiment(batiment)">
        <div><div class="labelTable">Nom</div><span>{{batiment?.nom}}</span></div>
        <div><div class="labelTable">Type</div><span>{{batiment?.typeBatiment?.nom}}</span></div> 
        <div><div class="labelTable">Description</div><span>{{batiment?.description}}</span></div> 
        <div class="action">
          <i class="fas fa-pencil-alt" (click)="getBatiment(batiment)"></i>
          <i class="fas fa-trash delete-link" (click)="deleteBatiment(batiment)"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-batiment *ngIf="modalAjouter" [TypeFichier]="TypeFichier" [batiment]="currentBatiment" [idParent]="idParent" [application]="application" (emitBatiment)="setBatiment($event)" (emitClose)="modalAjouter = false"></app-modal-batiment>