<app-menu-logistique></app-menu-logistique>
<div class="content">
  <app-recherche [champDeRecherches]="champDeRecherches" [queryBuild]="queryBuild" (emitQueryBuild)="setQueryBuild($event)"></app-recherche>
  <div class="bloc">
    <div class="table">
      <div class="action">
        <div class="left">

        </div>
        <div class="right">
          <i class="fas fa-file-excel"></i>
          <div [routerLink]="['/logistique', 'debitmetre', 'ajouter']" class="nofocus">
            <i class="fas fa-plus"></i> Créer
          </div>
        </div>
      </div>
      <app-header-table [headers]="headers" [querybuild]="queryBuild" (emitQueryBuild)="setQueryBuild($event)"></app-header-table>
      <div class="content">
        <div class="row" *ngFor="let debitmetre of debitmetres" (dblclick)="goToDetail(debitmetre)">
          <div><div class="labelTable">Libellè</div>{{debitmetre.libelle}}</div>
          <div><div class="labelTable">Ref</div>{{debitmetre.ref}}</div>
          <div><div class="labelTable">Bureau</div>{{debitmetre.bureau.nom}} - {{debitmetre.bureau.nomCommercial}}</div>
          <div class="action"><i class="fas fa-pencil-alt" (click)="goToDetail(debitmetre)"></i></div>
        </div>
        <app-pagination
                [queryBuild]="queryBuild"
                [nbObjets]="nbObjets"
                (emitQueryBuild)="setQueryBuild($event)"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>
