@import "variables";

:host{
  width: 100%;
  display: flex;
}

.bullet {
  color: $couleurFondBoutton;
}

i.fa-exclamation {
  color: orange !important;
}

i.fa-check {
  color: green !important;
}

@media (max-width: 640px) {
  :host{
    flex-wrap: wrap;
  }
}