<div class="content" (clickOutside)="close($event)" [delayClickOutsideInit]="true">
    <i class="fas fa-times btn-close" (click)="close($event)"></i>
    <h2>Import/Duplication d'une Zone</h2>
    <div class="bloc">
        <app-liste-zone-intervention [idStrategie]="callingStrategieId" [isModal]="true" (emitZone)="setZone($event)"></app-liste-zone-intervention>
        <!-- <div class="action">
            <button type="button" class="button">
                <i class="far fa-clone"> Dupliquer la sélection</i>
            </button>
        </div> -->
    </div>
</div>