@import "variables";
:host{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.content {
  max-height: 80%;
  overflow: auto;
  max-width: 1300px;
}

.content .btn-close {
  top: 0;
}

#fichier{
  display: none;
}

#labelFichier {
  display: flex;
  align-items: center;
  height: 31px;
  max-width: unset;
  width: 100%;
  border-radius: 3px;
  padding: 0 10px;
  font-family: Ubuntu;
  font-size: 16px;
  color: $couleurTexte;
  border: solid 1px $couleurBorderInput;
  background-color: $couleurFondInput;
  box-sizing: border-box;

}
