Bonjour {{civilite}} {{nom}} {{prenom}},<br />
Vous venez de demander la réinitialisation de votre mot de passe sur le site AléaContrôles.<br />
Si vous n'êtes pas à l'origine de cette demande, il vous suffit d'ignorer ce message. En cas de doute, vous pouvez contacter le support informatique.<br />
<br />
Si vous souhaitez réinitialiser votre mot de passe, cliquez sur le lien suivant pour confirmer :<br />
<a href="{{urlResetLink}}">{{urlResetLink}}</a> (ce lien sera actif 24h, passé ce délai, il vous faudra à nouveau demander la réinitialisation)<br /><br />

Cordialement,<br />
AléaContrôles.