Bonjour {{civilite}} {{prenom}} {{nom}},<br />
Une nouvelle stratégie a été rédigée par {{civiliteRedacteur}} {{prenomRedacteur}} {{nomRedacteur}} et vous êtes le
valideur pour ce chantier.<br />
Vous trouverez ci-dessous le lien pour télécharger la stratégie et celui pour procéder à la validation :<br />

<ul>
    <li><a href="{{urlDownloadStrategie}}">Stratégie au format Word</a></li>
    <li><a href="{{urlValidateStrategie}}">Lien de validation</a></li>
</ul>
<br /><br />

Cordialement,<br />
AléaContrôles.