$couleurFondHeader: #ffffff;
$couleurBandeau1: #3d5056;
$couleurBandeau2: #202f32;
$couleurTexteBandeau: #ffffff;
$couleurFond: #e8e7e9;
$fontFamily: Ubuntu;
$couleurTexte: #505151;
$couleurLabel: #7a7a7a;
$couleurFondH2: #ffffff;
$couleurH2: #ec7123;
$couleurTexteMenu: #81807c;
$couleurTexteMenuHover: #ec7123;
$couleurFondBloc: #ffffff;
$couleurFondBoutton: #ec7123;
$couleurFondBouttonActive: #982c0d;
$couleurBoutton: #ffffff;
$couleurFondBouttonDisable: #f7f7f7;
$couleurTexteBouttonDisable: #7a7a7a;
$couleurFondHoverBouttonDisable: #c7c7c7;
$couleurFondTr1: #f7f7f7;
$couleurFondTr2: #efefef;
$couleurFondTrHover: #e7e7e7;
$couleurBorderInput: #e7e7e7;
$couleurFondInput: #f7f7f7;
$fondInvalid: #f2cace;
$couleurFondBoutonDanger: darkred;
$couleurFondBoutonDangerActive: red;
$couleurFondBoutonSuccess: darkgreen;
$couleurFondBoutonSuccessActive: green;
$couleurFondBoutonInfo: #202f32;
$couleurFondBoutonInfoActive: #535f65;
$couleurTexteDisabled: #CCC;