<div class="login">
  <div class="bloc" id="bloc">
    <div class="innerLogin">
      <div class="image">
        <img src="./assets/img/logo-alea-controles.png" alt="Home Button">
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="formgroup full" style="text-align: center;">
          <span style="font-size: 1.9em; text-align: center;">Changez votre mot de passe</span>
        </div>
        <div class="formgroup full">
          <input type="text" id="mail" formControlName="login" placeholder="Email"
            [ngClass]="{ 'danger': submitted && f.login.errors }" />
        </div>
        <div class="formgroup full">
          <input type="password" id="motdepasse" formControlName="motDePasse" placeholder="Nouveau mot de passe"
            [ngClass]="{ 'danger': submitted && f.motDePasse.errors }">
        </div>
        <div class="formgroup full">
          <input type="password" id="motdepasseconfirmation" formControlName="motDePasseConfirmation" placeholder="Confirmation mot de passe"
            [ngClass]="{ 'danger': submitted && f.motDePasseConfirmation.errors }">
        </div>
        <div class="formgroup full">
          <button type="submit" class="button full">
            Changer
          </button>
        </div>
      </form>
    </div>
  </div>
  <div>
    <div style="z-index: 800;">
      <div style="font-size: 3em; text-align: center; margin-bottom: 2em;">
        Parce que le pire est prévisible,<br />
        Aléa Contrôles <span class="color-highlight">s'engage</span> pour le meilleur
      </div>
      <ul class="checkmark">
        <li>Prévenir</li>
        <li>Protéger</li>
        <li>Former</li>
        <li>Repérer</li>
        <li>Analyser</li>
      </ul>
    </div>
    <div class="img-login"></div>
  </div>
</div>