@import "variables";

:host{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.innerLogin {
    width: 400px;
}

.bloc {
    margin: 0;
    height: 100vh;
    z-index: 10;
}

.image{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.login{
    display: flex;
    //width: 1300px;
    align-items: stretch;
    align-self: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100vh;
}

.login>div{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding: 0;
    width: 50%;
}

.full-width {
    width: 100%;
}

.button {
    width: 100%;
    margin: 0;
}

.link {
    font-weight: bold;
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}

.invalid-feedback {
    font-size: 0.8em;
    padding-left: 1em;
}

.img-login {
    background-image: url('assets/img/img_login.png');
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 50%;
    position: absolute;
}

.color-highlight {
    color: $couleurBandeau2 !important;
}

ul.checkmark li {
    font-size: 1.1em;
    display: inline-block;
}