<nav class="menu-gauche">
  <div [class.active]="activeMenu === 'ressource-humaine'" routerLink="/logistique/ressource-humaine">Ressources humaines</div>
  <div [class.active]="activeMenu === 'lot-filtre'" routerLink="/logistique/lot-filtre">Lots filtres</div>
  <div [class.active]="activeMenu === 'pompe'" routerLink="/logistique/pompe">Pompes</div>
  <div [class.active]="activeMenu === 'debitmetre'" routerLink="/logistique/debitmetre">Débitmètres</div>
  <div [class.active]="activeMenu === 'station-meteo'" routerLink="/logistique/station-meteo">Station Météo</div>
  <div [class.active]="activeMenu === 'consommable'" routerLink="/logistique/consommable">Consommables</div>
  <div [class.active]="activeMenu === 'salle'" routerLink="/logistique/salle">Salles</div>
</nav>
